html {
    font-size:16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	
}

.container {
  max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; 
}

h1,
h2,
h3,
h4 {
	/*display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;*/
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 2em;
}
h2 {
    font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.5em;
}

p {
	font-size: 1em;
	
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	{
    font-size: 1em;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
	
}

header h1 {
	
	margin: 0;
	padding: 38px 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
}
header nav ul {
	
	margin: 0;
	padding: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.75em;
	padding: 0 10px;
	
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
	
	
}

.main-image {

}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	
	
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
	
	
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	
}

.address {
	font-size: 16px;
	
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	font-size: 1em;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
   
	
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
